/* change text color (to yellow) */
.jumbotron h1{
    color: #f4fa21;
    font-weight: 700;
}

.jumbotron p{
    color: #f4fa21;
}

/* change background color (to blue) */
.jumbotron {
    background-color:#0b06d5;
  }